interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{[...]
- request:
    body: '{"bbox": [10.0, 10.0, 11.0, 11.0], "collections": ["cop-dem-glo-30"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":4,"returned":4},"numberMatched":4,"numberReturned":4,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_N10_00_E011_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.0002777777777777778,0,10.99986111111111,0,-0.0002777777777777778,11.00013888888889],"proj:shape":[3600,3600],"proj:centroid":{"lat":10.5,"lon":11.5},"grid:code":"CDEM-N10E011","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-cop-dem-glo-to-stac/29a935f6801610bf6e9241e994712b39","datetime":"2021-04-22T00:00:00Z","processing:software":{"cop-dem-glo-to-stac":"2023.03.28"},"created":"2023-03-28T15:20:21.190Z","updated":"2023-04-20T18:10:39.795Z"},"geometry":{"type":"Polygon","coordinates":[[[11.99986111111111,10.00013888888889],[11.99986111111111,11.00013888888889],[10.99986111111111,11.00013888888889],[10.99986111111111,10.00013888888889],[11.99986111111111,10.00013888888889]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_N10_00_E011_00_DEM"},{"rel":"canonical","href":"s3://earthsearch-data/cop-dem-glo-30/Copernicus_DSM_COG_10_N10_00_E011_00_DEM/Copernicus_DSM_COG_10_N10_00_E011_00_DEM.json","type":"application/json"},{"rel":"handbook","href":"https://object.cloud.sdsc.edu/v1/AUTH_opentopography/www/metadata/Copernicus_metadata.pdf","type":"application/pdf","title":"Copernicus
        DEM User handbook","description":"Also includes data usage information"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_N10_00_E011_00_DEM/thumbnail"}],"assets":{"data":{"href":"s3://copernicus-dem-30m/Copernicus_DSM_COG_10_N10_00_E011_00_DEM/Copernicus_DSM_COG_10_N10_00_E011_00_DEM.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":30,"unit":"meter"}],"roles":["data"]}},"bbox":[10.99986111111111,10.00013888888889,11.99986111111111,11.00013888888889],"stac_extensions":["https://stac-extensions.github.io/storage/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json"],"collection":"cop-dem-glo-30"},{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_N10_00_E010_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.0002777777777777778,0,9.99986111111111,0,-0.0002777777777777778,11.00013888888889],"proj:shape":[3600,3600],"proj:centroid":{"lat":10.5,"lon":10.5},"grid:code":"CDEM-N10E010","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-c[...]
- request:
    body: '{"collections": ["cop-dem-glo-30"], "bbox": [10, 10, 11, 11], "next": "2021-04-22T00:00:00Z,Copernicus_DSM_COG_10_N09_00_E010_00_DEM,cop-dem-glo-30"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":4,"returned":0},"numberMatched":4,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"111-6GY8taxzn3YL44t43wmcY5+qfmI"
      x-amz-apigw-id:
      - SFjXSEt6PHcEcPg=
      x-amzn-Remapped-content-length:
      - '273'
      x-amzn-RequestId:
      - b6ff268f-455d-4648-9c5f-bf3903dc63db
    status:
      code: 200
      message: OK
version: 1
