interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1/
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v1/conformance"},{"rel":"data","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections"},{"rel":"search","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/search","method":"GET"},{"rel":"search","type":"appl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v1
  response:
    body:
      string: '{"stac_version":"1.0.0","type":"Catalog","id":"earth-search-aws","title":"Earth
        Search by Element 84","description":"A STAC API of public datasets on AWS","links":[{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{[...]
- request:
    body: '{"bbox": [10.0, 10.0, 20.0, 20.0], "collections": ["cop-dem-glo-30"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":121,"returned":10},"numberMatched":121,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_N19_00_E020_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.0002777777777777778,0,19.999861111111112,0,-0.0002777777777777778,20.000138888888888],"proj:shape":[3600,3600],"proj:centroid":{"lat":19.5,"lon":20.5},"grid:code":"CDEM-N19E020","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflow-cop-dem-glo-to-stac/b78cba75fadb8fa850c76f83a12de7f9","datetime":"2021-04-22T00:00:00Z","processing:software":{"cop-dem-glo-to-stac":"2023.03.28"},"created":"2023-03-28T15:20:40.800Z","updated":"2023-04-20T18:10:55.526Z"},"geometry":{"type":"Polygon","coordinates":[[[20.999861111111112,19.000138888888888],[20.999861111111112,20.000138888888888],[19.999861111111112,20.000138888888888],[19.999861111111112,19.000138888888888],[20.999861111111112,19.000138888888888]]]},"links":[{"rel":"self","type":"application/geo+json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_N19_00_E020_00_DEM"},{"rel":"canonical","href":"s3://earthsearch-data/cop-dem-glo-30/Copernicus_DSM_COG_10_N19_00_E020_00_DEM/Copernicus_DSM_COG_10_N19_00_E020_00_DEM.json","type":"application/json"},{"rel":"handbook","href":"https://object.cloud.sdsc.edu/v1/AUTH_opentopography/www/metadata/Copernicus_metadata.pdf","type":"application/pdf","title":"Copernicus
        DEM User handbook","description":"Also includes data usage information"},{"rel":"parent","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"collection","type":"application/json","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30"},{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"},{"rel":"thumbnail","href":"https://earth-search.aws.element84.com/v1/collections/cop-dem-glo-30/items/Copernicus_DSM_COG_10_N19_00_E020_00_DEM/thumbnail"}],"assets":{"data":{"href":"s3://copernicus-dem-30m/Copernicus_DSM_COG_10_N19_00_E020_00_DEM/Copernicus_DSM_COG_10_N19_00_E020_00_DEM.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Data","raster:bands":[{"sampling":"point","data_type":"float32","spatial_resolution":30,"unit":"meter"}],"roles":["data"]}},"bbox":[19.999861111111112,19.000138888888888,20.999861111111112,20.000138888888888],"stac_extensions":["https://stac-extensions.github.io/raster/v1.1.0/schema.json","https://stac-extensions.github.io/processing/v1.1.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/grid/v1.1.0/schema.json","https://stac-extensions.github.io/storage/v1.0.0/schema.json"],"collection":"cop-dem-glo-30"},{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_N19_00_E019_00_DEM","properties":{"platform":"tandem-x","gsd":30,"proj:epsg":4326,"proj:transform":[0.0002777777777777778,0,18.999861111111112,0,-0.0002777777777777778,20.000138888888888],"proj:shape":[3600,3600],"proj:centroid":{"lat":19.5,"lon":19.5},"grid:code":"CDEM-N19E019","storage:platform":"AWS","storage:region":"eu-central-1","storage:requester_pays":false,"earthsearch:payload_id":"cop-dem-glo/workflo[...]
- request:
    body: '{"collections": ["cop-dem-glo-30"], "bbox": [10, 10, 20, 20], "next": "2021-04-22T00:00:00Z,Copernicus_DSM_COG_10_N19_00_E011_00_DEM,cop-dem-glo-30"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":121,"returned":10},"numberMatched":121,"numberReturned":10,"features":[{"type":"Feature","stac_version":"1.0.0","id":"Copernicus_DSM_COG_10_N19_[...]
[...]
- request:
    body: '{"collections": ["cop-dem-glo-30"], "next": "2021-04-22T00:00:00Z,Copernicus_DSM_COG_10_N09_00_E010_00_DEM,cop-dem-glo-30",
      "bbox": [10, 10, 20, 20]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://earth-search.aws.element84.com/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","stac_version":"1.0.0","stac_extensions":[],"context":{"limit":10,"matched":121,"returned":0},"numberMatched":121,"numberReturned":0,"features":[],"links":[{"rel":"root","type":"application/json","href":"https://earth-search.aws.element84.com/v1"}]}'
    headers:
      Content-Type:
      - application/geo+json; charset=utf-8
      etag:
      - W/"115-H6lkFlnMevG7ZBOiY2NGEzeWOH4"
      x-amz-apigw-id:
      - RKMTOFkDvHcEomg=
      x-amzn-Remapped-content-length:
      - '277'
      x-amzn-RequestId:
      - 79b3358d-8780-497d-ad45-0462dd3c4953
    status:
      code: 200
      message: OK
version: 1
